.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.flex {
  display: flex;
}
.rowWrap {
  flex-flow: row wrap;
}
.flex100 {
  flex-basis: 100%;
}
.flex50 {
  flex-basis: 41%;
}
.flexCenter {
  justify-content: center;
}
.flexSpaceEven {
  justify-content: space-evenly;
}
.flexEnd {
  justify-content: flex-end;
}
.margin10 {
  margin: 10px;
}
.select {
  min-width: 120px;
}
.compCenter {
  /* margin: 10px; */
  min-height: 300px;
  min-width: 300px;
  text-align: center;
}
.margin50 {
  margin: 50px;
}
.garmCard {
  flex-basis: 40%;
  min-width: 250px;
  padding: 10px;
}
.cardImg {
  width: 100%;
}
.textField {
  max-width: 280px;
}
